@font-face {
    font-family: 'organo';
    src: url('organo.woff2') format('woff2'),
         url('organo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'organo';
    src: url('organo.woff2') format('woff2'),
         url('organo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}